<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees</title>
    <style>
      body {
        background-color: bisque;
        display: flex;
        flex-direction: column;
        padding-left: 25%;
      }
      table {
        border: 1px solid black;
        text-align: center;
      }
      table tr:nth-child(2n) {
        background-color: lightblue;
      }
      input[type="submit"] {
        border: none;
        border-radius: 10%;
        background-color: lightskyblue;
        width: 6rem;
        height: 3rem;
      }
      img {
        width: 3rem;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <%# soon btn 10 new pp, table %>
    <form action="/employees" method="POST">
      <input type="submit" value="Add more Data" />
    </form>
    <%if(data.length){%>
    <table>
      <thead>
        <th>ID</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>LName</th>
        <th>password</th>
        <th>city</th>
        <th>jobTitle</th>
        <th>phoneNumber</th>
      </thead>
      <tbody>
        <%for(let i=0;i< data.length;i++){%>
        <tr>
          <td><%=i%></td>
          <td><img src="<%= data[i].avatar%>" alt="Avatar" /></td>
          <td><%=data[i].firstName%></td>
          <td><%=data[i].lastName%></td>
          <td><%=data[i].password%></td>
          <td><%=data[i].city%></td>
          <td><%=data[i].jobTitle%></td>
          <td><%=data[i].phoneNumber%></td>
        </tr>
        <%}%>
      </tbody>
    </table>
    <%}%>
  </body>
</html>
